<!-- 
  Author  : Ritesh Phogat
  Email   : riteshphogat11@gmail.com
  Project : Mentor on Demand 
  Date 
-->
<div class="ui left ribbon label link large up-sec-bg text-white">Add a new Skill</div>
<a routerLink="/skill" class="ui right label link large float-right"> <i class="ui icon left arrow"></i>back</a>

<div class="row">
  <div class="col-4"> </div>
  <div class="col-4">

    <div id="form" class="container">
      <h1>Add Skill</h1>
      <br><br>
      <form>
        <div class="form-group">
          <input type="name" [(ngModel)]="skill.name" placeholder="Name" name="name" class="form-control w-100" id="name">
        </div>
        <br>
        <div class="form-group">
          <input [(ngModel)]="skill.toc" placeholder="Table of Contents" name="toc" class="form-control w-100" id="toc">
        </div>
        <br>
        <div class="form-group">
          <input [(ngModel)]="skill.prerequisites" placeholder="Prerequisite" name="prerequisite" class="form-control w-100" id="prerequisite">
        </div>
        <br>
        <br>

        <button class="ui button fluid up-green-bg text-white" (click)="createSkill()" routerLink="/admin">Create</button>
        <br><br>
      </form>
    </div>

  </div>
  <div class="col-4"> </div>
</div>