<!-- 
  Author  : Ritesh Phogat
  Email   : riteshphogat11@gmail.com
  Project : Mentor on Demand 
  Date 
-->
<div class="p-3">
  <div class="row mt-5 pt-3">
    <div class="col-4"></div>
    <div class="col-4">
      <!-- Card -->
      <div class="ui card">
        <div class="image">
          <img src="https://api.adorable.io/avatars/900/srikant.png">
        </div>
        <div class="content">
          <a class="header"  id="l"></a>
          <div class="meta">
            <span class="date" id="email">Joined in 2013</span>
          </div>
          <div class="description" id="contact">
            Kristy is an art director living in New York.
          </div>
        </div>
        <div class="extra content">
          <a>
            <i class="user icon"></i>
            22 Friends
          </a>
        </div>
      </div>
      <!-- Card -->
    </div>
    <div class="col-4"></div>
  </div>
</div>