<!-- 
    Author  : Ritesh Phogat
    Email   : riteshphogat11@gmail.com
    Project : Mentor on Demand 
    Date 
-->
<div class="container mt-5 pt-5">

    <h1 class="display-4 mt-3 mb-3 text-center">Let's know who're you?</h1>
    <br>
    
    <div class="ui three cards massive raised mt-5">
        <a class="ui card link"  routerLink="/signin">
          <div class="content">
            <h6 class="text-black text-center mt-2 display-4">Student</h6>
            <div class="meta text-center mt-3">
                <span class="category">Student can complete there course with us</span>
            </div>
        </div>
        <div class="extra content">
            <div class="right floated ui button fluid up-green-bg text-white rounded-0">Continue</div>
        </div>
    </a>
    <a class="ui card link"  routerLink="/adminlogin">
      <div class="content">
        <h6 class="text-black text-center mt-2 display-4">Admin</h6>
        <div class="meta text-center mt-3">
            <span class="category">Student can complete there course with us</span>
        </div>
    </div>
    <div class="extra content">
        <div class="right floated ui button fluid up-green-bg text-white rounded-0">Continue</div>
    </div>
</a>
<a class="ui card link"  routerLink="/login">
  <div class="content">
    <h6 class="text-black text-center mt-2 display-4">Mentor</h6>
    <div class="meta text-center mt-3">
        <span class="category">Student can complete there course with us</span>
    </div>
</div>
<div class="extra content">
    <div class="right floated ui button fluid up-green-bg text-white rounded-0">Continue</div>
</div>
</a>
</div>


</div>