<!-- 
	Author  : Ritesh Phogat
	Email   : riteshphogat11@gmail.com
	Project : Mentor on Demand 
	Date 
-->
<div class="row mt-5 pt-3">
	<div class="col-3"></div>
	<div class="col-6">
		
		<div class="ui segment raised">
			<a routerLink="/page"><i class="ui icon left arrow black link m-0 pt-0 large"></i></a>

			<div class="container text-center">
				
				<h1 class="text-center">Signup as mentor</h1>
				<br>
				<form class="ui form fluid">

					<div class="field">
						<label class="text-left" for="email">Email address:</label>
						<input type="text" [(ngModel)]="mentor.email" placeholder="Email" name="email" class="input fluid" id="email"><br>
					</div>

					<div class="field">
						<label class="text-left" for="userName">Username:</label>
						<input type="text" [(ngModel)]="mentor.userName" placeholder="Username" name="userName" class="input fluid" id="userName"><br>
					</div>

					<div class="field">
						<label class="text-left" for="firstName">First Name:</label>
						<input type="text" [(ngModel)]="mentor.firstName" placeholder="First Name" name="firstName" class="input fluid" id="firstName"><br>
					</div>

					<div class="field">
						<label class="text-left" for="lastName">Last Name:</label>
						<input type="text" [(ngModel)]="mentor.lastName" placeholder="Last name" name="lastName" class="input fluid" id="lastName"><br>
					</div>

					<div class="field">
						<label class="text-left" for="password">Password:</label>
						<input type="password" [(ngModel)]="mentor.password" placeholder="password" name="password" class="input fluid" id="password"><br>
					</div>

					<div class="field">
						<label class="text-left" for="contactNumber">Contact No:</label>
						<input type="text" [(ngModel)]="mentor.contactNumber" placeholder="Contact Number" name="contactNumber" class="input fluid" id="contactNumber"><br>
					</div>

					<div class="field">
						<label class="text-left" for="regCode">Reg. Code</label>
						<input type="text" [(ngModel)]="mentor.regCode" placeholder="Registration Code" name="regCode" class="input fluid" id="regCode"><br>
					</div>

					<div class="field">
						<label class="text-left" for="linkedinUrl">LinkedIn Url</label>
						<input type="text" [(ngModel)]="mentor.linkedinUrl" placeholder="linkedinUrl " name="linkedinUrl" class="input fluid" id="linkedinUrl"><br>
					</div>

					<div class="field">
						<label class="text-left" for="yearsofExperience">Years of Experience</label>
						<input type="text" [(ngModel)]="mentor.yearsofExperience" placeholder="0,1,2 etc. " name="yearsofExperience" class="input fluid" id="yearsofExperience"><br>
					</div>

					<div class="field">
						<label class="text-left" for="timeZone">Time Zone</label>
						<input type="text" [(ngModel)]="mentor.timeZone" placeholder="Time of Mentor " name="timeZone" class="input fluid" id="timeZone"><br>
					</div>

					<div class="field">
						<label class="text-left" for="mentorProfile">Mentor Profile</label>
						<input type="text" [(ngModel)]="mentor.mentorProfile" placeholder="Profile Details " name="mentorProfile" class="input fluid" id="mentorProfile"><br>
					</div>

					<p class="mt-4 pt-4">By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

					<div class="clearfix">
						<button routerLink="/login" class="ui button fluid rounded-0 up-green-bg text-white" id="signupbtn" (click)="createMentor()">Sign up</button>
					</div>
				</form>

			</div>
		</div>
	</div>
	<div class="col-3"></div>
</div>
